.twitter {
	padding: 0 3rem;
	background: #f1f1f1;
	border: 1px solid #d1d1d1;
	display: inline-block;
	text-align: left;
	margin-top: 2rem;

}

.twitter p {
	margin: 1rem;
}

textarea {
	width: 360px;
	height: 120px;
}

.twitter-content {
	text-align: center;
margin: 0 auto;
width: 22%;
}